
/** 背景色 */
:root {

    --os-primary-color: #1e9eb3;
    --os-primary-color-hover: #1e9eb3;
    --os-primary-color-active: #1e9eb3;
    --os-primary-color-disabled: #d9d9d9;

    --os-primary-font-light-color: #ffffff;
    --os-primary-font-dark-color: #23272d;

    --os-primary-bg-color: #23272d;
    --os-primary-bg-color-hover: #2d3138;

    --os-operation-color: #8d96a5;
    --os-operation-bg-color: #ffffff;
    --os-operation-bg-color-hover: #2d3138;
    --os-operation-bg-color-active: #1e2126;
    --os-operation-bg-color-disabled: #1e2126;
    --os-operation-border-color: #e1e1e1;

    --os-workspace-color: #23272d;
    --os-workspace-bg-color: #e1e1e1;

    --os-header-bg-color: #23272d;
    --os-header-color: #8d96a5;

    --os-toolbar-width: 48px;
    --os-header-height: 48px;
    --os-side-header-height: 40px;
    --os-operation-sidebar-width: 240px;
}
